MTREG/MTREG/Web References/gsbx1/SendHisControllerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://send.webservice.his.easternie.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SendHisControllerImplService" targetNamespace="http://send.webservice.his.easternie.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://send.webservice.his.easternie.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="base64EncodeByGBK" type="tns:base64EncodeByGBK" />
      <xs:element name="base64EncodeByGBKResponse" type="tns:base64EncodeByGBKResponse" />
      <xs:element name="discharge" type="tns:discharge" />
      <xs:element name="dischargeResponse" type="tns:dischargeResponse" />
      <xs:element name="dischargeRollback" type="tns:dischargeRollback" />
      <xs:element name="dischargeRollbackResponse" type="tns:dischargeRollbackResponse" />
      <xs:element name="downloadCatalogue" type="tns:downloadCatalogue" />
      <xs:element name="downloadCatalogueResponse" type="tns:downloadCatalogueResponse" />
      <xs:element name="examRep" type="tns:examRep" />
      <xs:element name="examRepResponse" type="tns:examRepResponse" />
      <xs:element name="examRepUndo" type="tns:examRepUndo" />
      <xs:element name="examRepUndoResponse" type="tns:examRepUndoResponse" />
      <xs:element name="getAuditData" type="tns:getAuditData" />
      <xs:element name="getAuditDataResponse" type="tns:getAuditDataResponse" />
      <xs:element name="getCure" type="tns:getCure" />
      <xs:element name="getCureBatch" type="tns:getCureBatch" />
      <xs:element name="getCureBatchResponse" type="tns:getCureBatchResponse" />
      <xs:element name="getCureResponse" type="tns:getCureResponse" />
      <xs:element name="getInjuryByNameAndId" type="tns:getInjuryByNameAndId" />
      <xs:element name="getInjuryByNameAndIdResponse" type="tns:getInjuryByNameAndIdResponse" />
      <xs:element name="getJSSheet" type="tns:getJSSheet" />
      <xs:element name="getJSSheetResponse" type="tns:getJSSheetResponse" />
      <xs:element name="getPerDetail" type="tns:getPerDetail" />
      <xs:element name="getPerDetailResponse" type="tns:getPerDetailResponse" />
      <xs:element name="getPerMed" type="tns:getPerMed" />
      <xs:element name="getPerMedResponse" type="tns:getPerMedResponse" />
      <xs:element name="getReport" type="tns:getReport" />
      <xs:element name="getReportBatch" type="tns:getReportBatch" />
      <xs:element name="getReportBatchResponse" type="tns:getReportBatchResponse" />
      <xs:element name="getReportResponse" type="tns:getReportResponse" />
      <xs:element name="invalidData" type="tns:invalidData" />
      <xs:element name="invalidDataResponse" type="tns:invalidDataResponse" />
      <xs:element name="leaveHos" type="tns:leaveHos" />
      <xs:element name="leaveHosResponse" type="tns:leaveHosResponse" />
      <xs:element name="leaveHosUndo" type="tns:leaveHosUndo" />
      <xs:element name="leaveHosUndoResponse" type="tns:leaveHosUndoResponse" />
      <xs:element name="login" type="tns:login" />
      <xs:element name="loginResponse" type="tns:loginResponse" />
      <xs:element name="logout" type="tns:logout" />
      <xs:element name="logoutResponse" type="tns:logoutResponse" />
      <xs:element name="mirrorMethod" type="tns:mirrorMethod" />
      <xs:element name="mirrorMethodResponse" type="tns:mirrorMethodResponse" />
      <xs:element name="register" type="tns:register" />
      <xs:element name="registerResponse" type="tns:registerResponse" />
      <xs:element name="regundo" type="tns:regundo" />
      <xs:element name="regundoResponse" type="tns:regundoResponse" />
      <xs:element name="revokeCure" type="tns:revokeCure" />
      <xs:element name="revokeCureResponse" type="tns:revokeCureResponse" />
      <xs:element name="sendAdviceInfo" type="tns:sendAdviceInfo" />
      <xs:element name="sendAdviceInfoResponse" type="tns:sendAdviceInfoResponse" />
      <xs:element name="sendCure" type="tns:sendCure" />
      <xs:element name="sendCureResponse" type="tns:sendCureResponse" />
      <xs:element name="sendMedInfo" type="tns:sendMedInfo" />
      <xs:element name="sendMedInfoResponse" type="tns:sendMedInfoResponse" />
      <xs:complexType name="invalidData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invalidDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCureBatch">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCureBatchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="examRepUndo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="examRepUndoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMedInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMedInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCure">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="regundo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="regundoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="register">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportBatch">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportBatchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mirrorMethod">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mirrorMethodResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAuditData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAuditDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="downloadCatalogue">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="downloadCatalogueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJSSheet">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJSSheetResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="discharge">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dischargeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="examRep">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="examRepResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="leaveHos">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="leaveHosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendCure">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendCureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPerMed">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPerMedResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="leaveHosUndo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="leaveHosUndoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="base64EncodeByGBK">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="base64EncodeByGBKResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logout">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logoutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPerDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPerDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="revokeCure">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="revokeCureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dischargeRollback">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dischargeRollbackResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInjuryByNameAndId">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInjuryByNameAndIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendAdviceInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendAdviceInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invalidData">
    <wsdl:part name="parameters" element="tns:invalidData" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="leaveHosResponse">
    <wsdl:part name="parameters" element="tns:leaveHosResponse" />
  </wsdl:message>
  <wsdl:message name="getPerDetailResponse">
    <wsdl:part name="parameters" element="tns:getPerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="examRepUndo">
    <wsdl:part name="parameters" element="tns:examRepUndo" />
  </wsdl:message>
  <wsdl:message name="getInjuryByNameAndIdResponse">
    <wsdl:part name="parameters" element="tns:getInjuryByNameAndIdResponse" />
  </wsdl:message>
  <wsdl:message name="getCure">
    <wsdl:part name="parameters" element="tns:getCure" />
  </wsdl:message>
  <wsdl:message name="sendMedInfoResponse">
    <wsdl:part name="parameters" element="tns:sendMedInfoResponse" />
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="getReportBatchResponse">
    <wsdl:part name="parameters" element="tns:getReportBatchResponse" />
  </wsdl:message>
  <wsdl:message name="mirrorMethod">
    <wsdl:part name="parameters" element="tns:mirrorMethod" />
  </wsdl:message>
  <wsdl:message name="sendCureResponse">
    <wsdl:part name="parameters" element="tns:sendCureResponse" />
  </wsdl:message>
  <wsdl:message name="getJSSheetResponse">
    <wsdl:part name="parameters" element="tns:getJSSheetResponse" />
  </wsdl:message>
  <wsdl:message name="leaveHosUndoResponse">
    <wsdl:part name="parameters" element="tns:leaveHosUndoResponse" />
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="getReport">
    <wsdl:part name="parameters" element="tns:getReport" />
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="sendAdviceInfoResponse">
    <wsdl:part name="parameters" element="tns:sendAdviceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="invalidDataResponse">
    <wsdl:part name="parameters" element="tns:invalidDataResponse" />
  </wsdl:message>
  <wsdl:message name="examRep">
    <wsdl:part name="parameters" element="tns:examRep" />
  </wsdl:message>
  <wsdl:message name="dischargeRollbackResponse">
    <wsdl:part name="parameters" element="tns:dischargeRollbackResponse" />
  </wsdl:message>
  <wsdl:message name="base64EncodeByGBK">
    <wsdl:part name="parameters" element="tns:base64EncodeByGBK" />
  </wsdl:message>
  <wsdl:message name="examRepResponse">
    <wsdl:part name="parameters" element="tns:examRepResponse" />
  </wsdl:message>
  <wsdl:message name="downloadCatalogueResponse">
    <wsdl:part name="parameters" element="tns:downloadCatalogueResponse" />
  </wsdl:message>
  <wsdl:message name="revokeCure">
    <wsdl:part name="parameters" element="tns:revokeCure" />
  </wsdl:message>
  <wsdl:message name="getInjuryByNameAndId">
    <wsdl:part name="parameters" element="tns:getInjuryByNameAndId" />
  </wsdl:message>
  <wsdl:message name="sendAdviceInfo">
    <wsdl:part name="parameters" element="tns:sendAdviceInfo" />
  </wsdl:message>
  <wsdl:message name="mirrorMethodResponse">
    <wsdl:part name="parameters" element="tns:mirrorMethodResponse" />
  </wsdl:message>
  <wsdl:message name="getCureBatch">
    <wsdl:part name="parameters" element="tns:getCureBatch" />
  </wsdl:message>
  <wsdl:message name="sendMedInfo">
    <wsdl:part name="parameters" element="tns:sendMedInfo" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="revokeCureResponse">
    <wsdl:part name="parameters" element="tns:revokeCureResponse" />
  </wsdl:message>
  <wsdl:message name="dischargeResponse">
    <wsdl:part name="parameters" element="tns:dischargeResponse" />
  </wsdl:message>
  <wsdl:message name="regundo">
    <wsdl:part name="parameters" element="tns:regundo" />
  </wsdl:message>
  <wsdl:message name="getPerMedResponse">
    <wsdl:part name="parameters" element="tns:getPerMedResponse" />
  </wsdl:message>
  <wsdl:message name="getReportResponse">
    <wsdl:part name="parameters" element="tns:getReportResponse" />
  </wsdl:message>
  <wsdl:message name="examRepUndoResponse">
    <wsdl:part name="parameters" element="tns:examRepUndoResponse" />
  </wsdl:message>
  <wsdl:message name="getReportBatch">
    <wsdl:part name="parameters" element="tns:getReportBatch" />
  </wsdl:message>
  <wsdl:message name="getAuditDataResponse">
    <wsdl:part name="parameters" element="tns:getAuditDataResponse" />
  </wsdl:message>
  <wsdl:message name="base64EncodeByGBKResponse">
    <wsdl:part name="parameters" element="tns:base64EncodeByGBKResponse" />
  </wsdl:message>
  <wsdl:message name="regundoResponse">
    <wsdl:part name="parameters" element="tns:regundoResponse" />
  </wsdl:message>
  <wsdl:message name="getAuditData">
    <wsdl:part name="parameters" element="tns:getAuditData" />
  </wsdl:message>
  <wsdl:message name="getCureResponse">
    <wsdl:part name="parameters" element="tns:getCureResponse" />
  </wsdl:message>
  <wsdl:message name="getCureBatchResponse">
    <wsdl:part name="parameters" element="tns:getCureBatchResponse" />
  </wsdl:message>
  <wsdl:message name="downloadCatalogue">
    <wsdl:part name="parameters" element="tns:downloadCatalogue" />
  </wsdl:message>
  <wsdl:message name="getJSSheet">
    <wsdl:part name="parameters" element="tns:getJSSheet" />
  </wsdl:message>
  <wsdl:message name="discharge">
    <wsdl:part name="parameters" element="tns:discharge" />
  </wsdl:message>
  <wsdl:message name="leaveHos">
    <wsdl:part name="parameters" element="tns:leaveHos" />
  </wsdl:message>
  <wsdl:message name="sendCure">
    <wsdl:part name="parameters" element="tns:sendCure" />
  </wsdl:message>
  <wsdl:message name="getPerMed">
    <wsdl:part name="parameters" element="tns:getPerMed" />
  </wsdl:message>
  <wsdl:message name="leaveHosUndo">
    <wsdl:part name="parameters" element="tns:leaveHosUndo" />
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="getPerDetail">
    <wsdl:part name="parameters" element="tns:getPerDetail" />
  </wsdl:message>
  <wsdl:message name="dischargeRollback">
    <wsdl:part name="parameters" element="tns:dischargeRollback" />
  </wsdl:message>
  <wsdl:portType name="SendHisController">
    <wsdl:operation name="invalidData">
      <wsdl:input name="invalidData" message="tns:invalidData" />
      <wsdl:output name="invalidDataResponse" message="tns:invalidDataResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getCureBatch">
      <wsdl:input name="getCureBatch" message="tns:getCureBatch" />
      <wsdl:output name="getCureBatchResponse" message="tns:getCureBatchResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="examRepUndo">
      <wsdl:input name="examRepUndo" message="tns:examRepUndo" />
      <wsdl:output name="examRepUndoResponse" message="tns:examRepUndoResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="sendMedInfo">
      <wsdl:input name="sendMedInfo" message="tns:sendMedInfo" />
      <wsdl:output name="sendMedInfoResponse" message="tns:sendMedInfoResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getCure">
      <wsdl:input name="getCure" message="tns:getCure" />
      <wsdl:output name="getCureResponse" message="tns:getCureResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="regundo">
      <wsdl:input name="regundo" message="tns:regundo" />
      <wsdl:output name="regundoResponse" message="tns:regundoResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="register" message="tns:register" />
      <wsdl:output name="registerResponse" message="tns:registerResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getReportBatch">
      <wsdl:input name="getReportBatch" message="tns:getReportBatch" />
      <wsdl:output name="getReportBatchResponse" message="tns:getReportBatchResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="mirrorMethod">
      <wsdl:input name="mirrorMethod" message="tns:mirrorMethod" />
      <wsdl:output name="mirrorMethodResponse" message="tns:mirrorMethodResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <wsdl:input name="getReport" message="tns:getReport" />
      <wsdl:output name="getReportResponse" message="tns:getReportResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getAuditData">
      <wsdl:input name="getAuditData" message="tns:getAuditData" />
      <wsdl:output name="getAuditDataResponse" message="tns:getAuditDataResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="downloadCatalogue">
      <wsdl:input name="downloadCatalogue" message="tns:downloadCatalogue" />
      <wsdl:output name="downloadCatalogueResponse" message="tns:downloadCatalogueResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getJSSheet">
      <wsdl:input name="getJSSheet" message="tns:getJSSheet" />
      <wsdl:output name="getJSSheetResponse" message="tns:getJSSheetResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="discharge">
      <wsdl:input name="discharge" message="tns:discharge" />
      <wsdl:output name="dischargeResponse" message="tns:dischargeResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="examRep">
      <wsdl:input name="examRep" message="tns:examRep" />
      <wsdl:output name="examRepResponse" message="tns:examRepResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="leaveHos">
      <wsdl:input name="leaveHos" message="tns:leaveHos" />
      <wsdl:output name="leaveHosResponse" message="tns:leaveHosResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="sendCure">
      <wsdl:input name="sendCure" message="tns:sendCure" />
      <wsdl:output name="sendCureResponse" message="tns:sendCureResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getPerMed">
      <wsdl:input name="getPerMed" message="tns:getPerMed" />
      <wsdl:output name="getPerMedResponse" message="tns:getPerMedResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="leaveHosUndo">
      <wsdl:input name="leaveHosUndo" message="tns:leaveHosUndo" />
      <wsdl:output name="leaveHosUndoResponse" message="tns:leaveHosUndoResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="base64EncodeByGBK">
      <wsdl:input name="base64EncodeByGBK" message="tns:base64EncodeByGBK" />
      <wsdl:output name="base64EncodeByGBKResponse" message="tns:base64EncodeByGBKResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getPerDetail">
      <wsdl:input name="getPerDetail" message="tns:getPerDetail" />
      <wsdl:output name="getPerDetailResponse" message="tns:getPerDetailResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="revokeCure">
      <wsdl:input name="revokeCure" message="tns:revokeCure" />
      <wsdl:output name="revokeCureResponse" message="tns:revokeCureResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="dischargeRollback">
      <wsdl:input name="dischargeRollback" message="tns:dischargeRollback" />
      <wsdl:output name="dischargeRollbackResponse" message="tns:dischargeRollbackResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getInjuryByNameAndId">
      <wsdl:input name="getInjuryByNameAndId" message="tns:getInjuryByNameAndId" />
      <wsdl:output name="getInjuryByNameAndIdResponse" message="tns:getInjuryByNameAndIdResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="sendAdviceInfo">
      <wsdl:input name="sendAdviceInfo" message="tns:sendAdviceInfo" />
      <wsdl:output name="sendAdviceInfoResponse" message="tns:sendAdviceInfoResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendHisControllerImplServiceSoapBinding" type="tns:SendHisController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invalidData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invalidData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invalidDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCureBatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCureBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCureBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="examRepUndo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="examRepUndo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="examRepUndoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendMedInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendMedInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMedInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCure">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCureResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="regundo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="regundo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="regundoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="register">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mirrorMethod">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mirrorMethod">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="mirrorMethodResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportBatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReportBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReport">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAuditData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAuditData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAuditDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadCatalogue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="downloadCatalogue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadCatalogueResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getJSSheet">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getJSSheet">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getJSSheetResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discharge">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="discharge">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dischargeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="examRep">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="examRep">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="examRepResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="leaveHos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="leaveHos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="leaveHosResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendCure">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendCure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendCureResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerMed">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPerMed">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPerMedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="leaveHosUndo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="leaveHosUndo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="leaveHosUndoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="base64EncodeByGBK">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="base64EncodeByGBK">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="base64EncodeByGBKResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerDetail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPerDetail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPerDetailResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="revokeCure">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="revokeCure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="revokeCureResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="dischargeRollback">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dischargeRollback">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dischargeRollbackResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInjuryByNameAndId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInjuryByNameAndId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInjuryByNameAndIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendAdviceInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendAdviceInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendAdviceInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendHisControllerImplService">
    <wsdl:port name="SendHisControllerImplPort" binding="tns:SendHisControllerImplServiceSoapBinding">
      <soap:address location="http://121.28.194.180:9020/his/ws/soap/sendHis" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>